
table
{
margin-top:100px;
background-color:rgba(0,0,0,0.5);
color:white;
box-shadow:15px 15px 15px white;		
}
.A
{
	background:linear-gradient(blue,cyan,yellow);
	color:black;
	border-radius:60px 60px 60px 60px;
	padding:20px;
}
.A:hover
{
	background:linear-gradient(blue,cyan,yellow);
	color:black;
	border-radius:60px 60px 60px 60px;
	padding:20px;
}
.B
{
	background:linear-gradient(blue,cyan,yellow);
	color:black;
	border-radius:100px 100px 100px 100px;
	padding:40px;
}
